.modal {
  display: none;
}
.modal.loading,
.loading .modal.loading {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .modal.loaded,
.loaded .modal.loading.loaded,
.modal.loaded.loaded,
.modal.loaded.loading.loaded {
  visibility: visible;
  opacity: 1;
}
