//fout: ../css/app.css

@import "variables";
@import "mixins";

.app {
  // Reset and dependencies
  @import "@{bootstrap}/normalize";
  @import "@{bootstrap}/print";
  @import "@{bootstrap}/glyphicons";
  // Core CSS
  @import "@{bootstrap}/scaffolding";
  @import "@{bootstrap}/type";
  @import "@{bootstrap}/grid";
  @import "@{bootstrap}/tables";
  // Components
  @import "@{bootstrap}/component-animations.less";

  .no-trespassing();
  .loaded();
  .font(@open-sans, 400);
  .font-size(@font-size-0);

  body {
    .font-size(@font-size-1);
    .font(@open-sans, 400);
    .no-trespassing();
    color: @color-primary;
    a {
      &, &:hover, &:active {
        .transition(color @duration-2 @easeOutQuad);
        text-decoration: none;
        color: @color-second;
      }

      &:hover {
        color: @color-third;
      }
    }
  }
}
