{
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "add-module-exports"
      ],
      "presets": [
        "react-app",
        "stage-0"
      ]
    },
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "add-module-exports"
      ],
      "presets": [
        "react-app",
        "stage-0"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "add-module-exports"
      ],
      "presets": [
        "react-app",
        "stage-0"
      ]
    }
  }
}
