<div class="container-fluid grid loading">

  <!-- app.headers -->
  <header class="header loading" data-model="false" data-loaded="false">
    <script type="text/javascript">
    require(['app/component/headers']);
    </script>
  </header>
  <!--/ app.headers -->

  <!-- app.footers -->
  <!-- <footer class="footer row loading" data-model="false">
    <script type="text/javascript">
      require(['app', 'app/control/footers'], function(app) {
        new app.footers('.footer');
      });
    </script>
  </footer> -->
  <!--/ app.footers -->
</div>
