<div class="container-fluid">

  <!-- header -->
  <header class="header row loading" data-model="false">
    <script type="text/javascript">
      require(['main', 'app', 'app/control/headers'], function(require, app) {
        new app.Headers('header');
      });
    </script>
  </header>
  <!--/ header -->

  <!-- footer -->
  <footer class="footer row loading" data-model="false">
    <script type="text/javascript">
      require(['main', 'app', 'app/control/footers'], function(require, app) {
        new app.Footers('footer');
      });
    </script>
  </footer>
  <!--/ footers -->
</div>
