<!-- app/footer -->
<footer class="footer loading">
  <p>2015 &copy; <a target="_blank" href="{{ VENDOR_URL }}" class="brand"
  >{{ VENDOR_NAME }}</a>&nbsp;crafted by <a
  target="_blank" href="http://nod.st"
  >NOD studios</a>
</footer>
<script type="text/javascript">
  AppLoad.push('footer');
</script>
<!--/ app/footer -->
